################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Engine/FlowerEngine/x64/Debug
/Framework/Core/x64/Debug
/VGP242/01_HelloWindow/x64/Debug
